/* html, body, div, span, object, h1, ul, li, p {
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

body {
	color:#000000;
	font-family: Regular,"΢���ź�",sans-serif;
    font-size: 16px;
} */

a {
	text-decoration: none;
}

/* .clearfix {
	clear: both;
	*zoom: 1;
}

.clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}
 */
/* MT_nav */
#MT_nav {
	margin: 0 auto;
	position: relative;
	z-index: 99;
}

#MT_nav ul {
	list-style: none;
/*     width: 1000px; */
    height: 57px;
    top: 22px;
    position: absolute;
    z-index: 99;
    margin-top: -15px;
    cursor:pointer;
}

#MT_nav .MT-bg, #MT_nav .MT-item, #MT_nav .MT-arrow, #MT_nav ul .MT-item a .MT-more,
	#MT_nav .MT-logo {
/* 	background: url(../images/style/menu/tlist_icon.png) no-repeat; */
/* 	background-image:url(../images/style/menu/tlist_icon.png);
	background-repeat:no-repeat;
	background-position:right; */
}

#MT_nav .MT-logo {
	background-position: 0 -70px;
	position: absolute;
	width: 134px;
	height: 24px;
	top: 12px;
	left: 50%;
	margin-left: -67px;
}

#MT_nav ul .MT-item {
	width: 128px;
	height: 57px;
	float: left;
	background-position: -5px 0;
	position: relative;
	z-index: 99;
}

#MT_nav ul .MT-item:hover div {
	display: block;
}

#MT_nav ul .MT-first {
	background-position: 0 0;
}

#MT_nav ul .MT-last {
	background-position: -43px 0;
}

#MT_nav ul .MT-bg {
	background-position: -245px 0;
}

#MT_nav ul .MT-item a {
	color: #646464;
	display: block;
	font-size: 14px;
	height: 47px;
	line-height: 29px;
	text-align: center;
	text-decoration: none;
	background-image:url(../images/style/menu/tlist_icon.png);
	background-repeat:no-repeat;
	background-position: 105px 3px;
}

#MT_nav ul .MT-item a:hover {
/* 	color: #e47833; */
}

#MT_nav ul .MT-current .MT-bg {
/* 	font-weight: bold; */
	font-size: 14px;
	color: #545454;
}

#MT_nav ul .MT-item a .MT-more {
	-webkit-text-size-adjust: none;
	font-size: 0;
	height: 0;
	width: 0;
	background-position: -24px -65px;
	position: relative;
	top: -4px;
	left: 6px;
	z-index: 99;
	_margin-top: 22px;
	_top: 0px;
	*zoom: 1;
}

#MT_nav ul .MT-item div {
	display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 42px;
    left: 50%;
    margin-left: -60px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .02), 0 2px 5px
 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .02), 0 2px 5px rgba(0, 0, 0, .1);
    box-shadow: 0 0 4px rgba(0, 0, 0, .02), 0 2px 5px rgba(0, 0, 0, .1);
    width: 120px;
}

#MT_nav .MT-arrow {
	display: block;
	font-size: 0;
	height: 7px;
	position: absolute;
	top: -7px;
	width: 14px;
	margin-left: -7px;
	left: 50%;
	background-position: 0 -63px;
}

#MT_nav ul .MT-list div {
	display: block;
}

#MT_nav ul .MT-item .MT-list-last {
	border: none;
}

#MT_nav ul .MT-item div a {
	/* width: 200px;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	*zoom: 1; */
	width: 100px;
    margin: 0 -45px;
    border-bottom: 1px solid #ccc;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}

#MT_nav ul .small {
	width: 140px;
    margin: 0 -55px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    background-color:#ffffff;
}
#MT_nav ul .small:hover{
	cursor: pointer;
    text-decoration: underline;
    color : #014295;
}