/*----------------------------------------------
    左侧导航隐藏按钮    
------------------------------------------------*/
@charset "utf-8";
.closed{
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);	
}
.closed i{color:#014295;
}
div#sideNav:hover {
    color: #303030;
}
.active-menu, .active-menu i {
    background-color: #1B1B1B !important;
    color: #F09B22 !important;
}
.active-menu i{color: #F09B22 !important;}
 
#sideNav{
    float: left;
    left: -0.8px;
    z-index: 3;
    color: #014295;
    cursor:pointer;
    border-radius: 0;
    width: 14px;
    font-size: 35px;
    line-height: 0;
    top: 60px;
    position: absolute;
}




