body{
	margin:0;
	padding: 0;
}
#west{
	width:180px;
	background: none repeat scroll 0 0 #e8f4fa;		
}
#center{
	background:#efefef;
}

#east{
	background:#efefef;
	width:200px;
}
#south{
	background:url('../images/logo/def/bottom.png'); 
	BACKGROUND-REPEAT: repeat-x;
	overflow:hidden;border:0;margin:0px; 
	width:100%;
	height:30px;
}
#north{
	background:url('../images/logo/def/top.png'); 
 	BACKGROUND-REPEAT: repeat-x;
 	overflow:hidden;border:0;margin:0px; 
 	width:100%;
 	height:100%;
}
.sysDate{
	color:#274b61;
	font-size:14px;
	font-family:'Microsoft YaHei';
	text-align:right;
	text-margin-right: 50px; ;
	height: 20px;
	margin-right: 20px; 
/* 	background:url('../images/logo/def/logo-up.png') right ;
	background-repeat: repeat-y;  */
}
.sysTd{
/* 	color:#ffffff;  */
	color:#274b61;
	font-size:14px;
	font-family:'Microsoft YaHei';
	text-align:right;
	height: 20px;
	margin-right: 20px; 
/* 	background:url('../images/logo/def/logodate.png') right ;
	background-repeat: repeat-y;  */
}
.indexTb{
	width:100%;
 	height:100%;
 	border:0;
 	margin-top: 0px; 
 	background:url('../images/logo/def/logo.png'); 
	/*background:url('../images/logo/def/logo2.png');  */
 	BACKGROUND-REPEAT: no-repeat; 
}
.easyui-accordion ul {
	background: none repeat scroll 0 0 #e0ecff;	
	margin:0;
	padding:0;
}

.easyui-accordion li {
	list-style-type: none;
	border-color: #95b8e7;
	border-width: 0 0 1px;
}
.accordion-body,.accordion{
	background: none repeat scroll 0 0 #e0ecff;	
}

.nav{
	line-height:27px;
	back-ground: none repeat scroll 0 0 #e0ecff;	
	padding:5px 25px;
}